html {
    background-image: url("Images/bg.jpg")

}

@font-face {
    font-family: ObelixPro;
    src: url(Fonts/ObelixPro.ttf);
}

h1{
    font-family: ObelixPro;
    
}

html {
    
}

* {
    margin: 0px; 
    padding: 0px;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: #570800;
    margin: 5vh 0px;
    padding: 2vh 0px;
}

.nav li {
    margin: 0px 5%;
    list-style: none;
}

.nav li: first-child {
    margin-left: 10%;
}

.nav li a {
    color: #ec3030;
    font-family: ObelixPro;
    font-size: 2.2vw;
}

.nav li a:hover {
    color: white;
}

.logo {
    position: absolute;
    top: 1vh;
    width: 10%;
    left: 5%;
}



section {
    padding: 3vh 45px;
    width: 85%;
    margin: 3vh auto;
    background-color: #330500;
    min-height: 60vh;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    color: red;
    width: 80%;
    height: 80%;
    margin-left: 30%;
}

.left{
    width: 60%;
    min-height: 20vh;
    background-color: #3b3b3b;
    margin: 1% 3%;
}

.right {
    width: 27%;
    margin: 1% 3%;
    min-height: 20vh;
    background-color: #3b3b3b;

}

.box-left {
    
}

.top {
     width: 60%;
    /* height: 100%; */
    margin: -2vh 50% 0vh 15%;
}


.name {
    margin-left: 46%;
    margin-right: 100%;
    margin-top: 2%;
    /* min-height: 15vh; */
    width: 50vw;
    
}


.left ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left ul li {
    width: 50%;
    list-style: none;
}

.left li img, .left li p {
    width: 80%;
    margin: 1.5vh 10%;
}


.right li img, .left li p {
    width: 80%;
    margin: 1.5vh 10%;
}

.main {
    background-color: #3b3b3b;
    text-align: center;
}

.main ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.main li {
    width: 20%;
    margin: 5%;
    list-style: none;
}

.main li img {
    width: 120%;
}


.main1 {
    background-color:#3b3b3b;
    text-align: center;
    width: 100%;
}



































